<!--
=======================================================
  Title: about.ejs
  Author: Professor Cross
  Date: 03/27/2021
  Modified by: Sarah Jean Baptiste
  Description: About page for EMS
========================================================
-->

<body>

  <!--Include header-->
  <%- include ('header'); %>
  
  <!--Include main navbar-->
  <%- include ('navbar'); %>
  
  <!--Div for main content-->
  <div role="main">
  <h1 class = "display-5" style= "margin-top: 20px; margin-left: 10px;">About</h1>
  </div>
  
  <!-- Include footer header is going above the table? -->
  <%- include ('footer'); -%> 
  
  </body>  