<!--
=======================================================
  Title: index.ejs
  Author: Professor Cross
  Date: 03/27/2021
  Modified by: Sarah Jean Baptiste
  Description: Index for jeanBaptiste-assignment-2.4.js
========================================================
-->

<body>

  <!--Include header-->
  <%- include ('header'); %>
  
  <!--Include main navbar-->
  <%- include ('navbar'); %>
  
  <div role="main">
  <h1 class = "display-5" style= "margin-top: 20px; margin-left: 10px;">About</h1>
  </div>

  
  <!-- Include footer header is going above the table? -->
  <%- include ('footer'); -%> 
  
  </body>  