<!--
=======================================================
  Title: footer.ejs
  Author: Professor Cross
  Date: 04/03/2021
  Modified by: Sarah Jean Baptiste
  Description: Footer
========================================================
--> 

<!--Footer to display copyright and authors name.-->
<footer>
    <p><small> &copy; Sarah Jean Baptiste 2021 </small> </p>
</footer>