<!--
=======================================================
  Title: navbar.ejs
  Author: Professor Cross
  Date: 04/25/2021
  Modified by: Sarah Jean Baptiste
  Description: Navigation Bar
========================================================
-->

<!--Navigation bar for Home, Employee Listing, and Add New Employee.-->   
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-uppercase">
            <li class="nav-item active" style= "font-weight: 600;">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="/list" class="nav-link">Employee Listing</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="/new" class="nav-link">Add New Employee</a>
            </li>
        </ul>
    </div>
</nav>