<!--
=======================================================
  Title: navbar.ejs
  Author: Professor Cross
  Date: 04/25/2021
  Modified by: Sarah Jean Baptiste
  Description: Navigation Bar
========================================================
-->

<!--Navigation bar for home, contact, story, employees and shop.-->   
<nav class="navbar sticky-top navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-uppercase">
            <li class="nav-item active" style= "font-weight: 600;">
                <a href="/index" class="nav-link">Home</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="/contact" class="nav-link">Contact Us</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="#" class="nav-link">Our Story</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="#" class="nav-link">Employees</a>
            </li>
            <li class="nav-item text-uppercase" style= "font-weight: 600;">
                <a href="#" class="nav-link">Shop</a>
            </li>
        </ul>
    </div>
</nav>