<!--
=======================================================
  Title: new.ejs
  Author: Professor Cross
  Date: 04/08/2021
  Modified by: Sarah Jean Baptiste
  Description: New
========================================================
-->

<!--Data Entry Page-->
<!DOCTYPE html>

<html lang="en">

<!-- Include header. -->
<%- include('header'); -%>

<body>
  <!-- Include navbar. -->
    <%- include('navbar'); -%>
        <div role="main" class="container">
            <br/><br/>
            <h2><%= message %></h2>
            <form method="post" action="/process">
                <div class="form-group">
                    <label for="firstName">First Name:</label>
                    <input name="firstName" type="text" id="firstName" name="firstName">
                </div>
                <div class="form-group">
                    <label for="lasttName">Last Name:</label>
                    <input name="lastName" type="text" id="lastName" name="lastName">
                </div>
                <div class="form-group">                
                    <!-- CSRF token -->
                    <input name="_csrf" value="<%= csrfToken %>" type="hidden">
                    <button class="btn btn-primary float-right" type="submit">Submit</button>
                </div>
            </form>
        </div>
</body>
</html>