<!--
=======================================================
  Title: product.ejs
  Author: Professor Cross
  Date: 04/03/2021
  Modified by: Sarah Jean Baptiste
  Description: Product Page
========================================================
-->

<!--Include header-->
<%- include ('header'); %>

<!--Create container to hold message "welcome to the products page".-->
<div role="main" class="container">
    <br/><br/>
    <h2 class="fst-italic fw-lighter fs-1">Welcome to the <%= message %>!</h2>
</div>

<!--Include footer-->
<%- include ('footer'); -%>